@model PagedList.IPagedList<BeerTracker.Models.ViewModels.Admin.UserViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Allow User Access";
}

<h2>Allow User Access</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>User</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            using (Html.BeginForm("UserAccess", "Account", new { Area = "" }, FormMethod.Post, null))
            {
                <tr>
                    <td>@user.Username</td>
                    <td hidden="hidden"><input type="text" name="UserId" value="@user.Id" /></td>
                    <td hidden="hidden"><input type="text" name="RedirectToAction" value="AllowUserAccess" /></td>
                    <td hidden="hidden"><input type="text" name="IsActive" value="true" /></td>
                    <td><input class="btn btn-success" type="submit" value="Allow Access" /></td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="pager">
    @Html.PagedListPager(Model, page => Url.Action("AllowUserAccess", new
   {
       page
   }))
    <p>Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Users</p>
</div>



