@if (Request.IsAuthenticated && (User.IsInRole("RegularUser") || User.IsInRole("Administrator")))
{
    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("Show All", "ShowAll", "Geo", new { Area = "User" }, new { id = "my-location" })</li>
        <li>@Html.ActionLink("Hide Beer", "HideBeer", "Geo", new { Area = "User" }, null)</li>
        <li>@Html.ActionLink("Find Beer", "FindBeer", "Geo", new { Area = "User" }, null)</li>
    </ul>
    using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, htmlAttributes: new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            @if (User.IsInRole("Administrator"))
            {
                @Html.Partial("_AdminDropdownMenu");
            }

            @if (User.IsInRole("Partner"))
            {
                @Html.Partial("_PartnerDropdownMenu")
            }

            @Html.Partial("_RegularUserDropdownMenu")

            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", new { Area = "" }, new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { Area = "" }, new { id = "loginLink" })</li>
    </ul>
}


