@model BeerTracker.Models.BindingModels.Partner.ManageContestBindingModel
@{
    ViewBag.Title = "Manage Contest";
}

<h2>Manage Contest</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("ContestStatus", "Partner", new { Area = "" }, FormMethod.Post,
                                         new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            if (!Model.IsActive)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", value = Model.Title })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                    <div>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "10", value = Model.Description })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EndDate, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", type = "date", value = Model.EndDate })
                    </div>
                </div>

                <hr />
            }

            @Html.TextBoxFor(m => m.Id, new { hidden = "hidden" })

            <div class="form-group">

                @if (!Model.IsActive)
                {
                    <input type="hidden" name="isActive" value="true" />
                    <div>
                        <input type="submit" value="Activate" class="btn btn-success form-control" />
                    </div>
                }
                else
                {
                    <input type="hidden" name="isActive" value="false" />
                    <div>
                        <input type="submit" value="Deactivate" class="btn btn-danger form-control" />
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-md-6">
        @if (!Model.IsActive)
        {
            Html.RenderAction("AllContestBeers", "Partner", new { Area = "Partner", Id = Model.Id });
            <div class="form-group">
                <div>
                    @Html.ActionLink("Add beer to this contest", "Beers", "Partner",
             new { Area = "", Id = Model.Id }, new { @class = "btn btn-warning" })
                </div>
            </div>
        }
    </div>
</div>


